In [ ]:
This is Hallie's Notebook

In [1]:
import pandas as pd

%matplotlib inline

In [2]:
park_data = pd.read_csv("https://data.wprdc.org/datastore/dump/8425cf59-fb96-4ac0-b56a-4541ff23b276?bom=True")
park_data.head()

,_id,objectid,municipality,full_address,name,type,shape_area,shape_length
0,2278,1,BEN AVON HEIGHTS,2 WILSON DR,BEN AVON HEIGHTS PARK,MUNICIPAL PARK,9.164393e+04,1344.752035
1,2279,2,KILBUCK,498 CAMP HORNE RD,AVONWORTH COMMUNITY PARK,MUNICIPAL PARK,2.260629e+06,6563.867011
2,2280,4,FAWN,3054 HOWES RUN RD,FAWN TOWNSHIP COMMUNITY PARK,MUNICIPAL PARK,1.814255e+05,1962.333863
3,2281,5,HARRISON,133 RIVER AVE,FRED C SKWIRUT MEMORIAL PARK,MUNICIPAL PARK,1.535944e+05,4689.655083
4,2282,6,TARENTUM,318 1ST AVE,TARENTUM PARK,MUNICIPAL PARK,6.027766e+05,6740.978781

In [4]:
park_data.groupby('municipality').head()

,_id,objectid,municipality,full_address,name,type,shape_area,shape_length
0,2278,1,BEN AVON HEIGHTS,2 WILSON DR,BEN AVON HEIGHTS PARK,MUNICIPAL PARK,9.164393e+04,1344.752035
1,2279,2,KILBUCK,498 CAMP HORNE RD,AVONWORTH COMMUNITY PARK,MUNICIPAL PARK,2.260629e+06,6563.867011
2,2280,4,FAWN,3054 HOWES RUN RD,FAWN TOWNSHIP COMMUNITY PARK,MUNICIPAL PARK,1.814255e+05,1962.333863
3,2281,5,HARRISON,133 RIVER AVE,FRED C SKWIRUT MEMORIAL PARK,MUNICIPAL PARK,1.535944e+05,4689.655083
4,2282,6,TARENTUM,318 1ST AVE,TARENTUM PARK,MUNICIPAL PARK,6.027766e+05,6740.978781
...,...,...,...,...,...,...,...,...
731,3009,3468,SHARPSBURG,801 CLAY ST,CURLY PARK,MUNICIPAL PARK,1.907746e+03,181.661212
732,3010,3470,SHARPSBURG,110 13TH ST,JAMES SHARP LANDING,MUNICIPAL PARK,4.902850e+04,1219.813344
736,3014,3895,ASPINWALL,285 RIVER AVE,ASPINWALL RIVERFRONT PARK,MUNICIPAL PARK,3.539137e+05,3381.983459
739,3017,5534,OAKMONT,40 1ST ST,RIVERS EDGE OF OAKMONT GREENSPACE,MUNICIPAL PARK,1.480559e+04,508.310120
740,3018,5540,LEETSDALE,1301 BRICKWORKS DR,LYNN KOHLMEYER PARK,MUNICIPAL PARK,4.716958e+04,988.489539

In [8]:
filtered = park_data[park_data["municipality"].str.upper() != "PITTSBURGH"]

In [9]:
top5 = (filtered.groupby("municipality").size().reset_index(name="park").sort_values("park", ascending=False).head(10))

In [10]:
top5.head(10)

       municipality  park
91             ROSS    23
67      MONROEVILLE    22
109  UPPER ST CLAIR    20
115    WEST MIFFLIN    18
80       PENN HILLS    17
64       MCKEESPORT    17
69       MT LEBANON    15
7       BETHEL PARK    15
97           SHALER    13
19         CLAIRTON    10